@page
@using rinku.Pages.Movimientosmes
@model BorrarModel

<h1>Seguro que quieres borrar </h1>

<form method="POST">

    <input type="hidden" name="borraridmv" class="form-control"
         id="borraridmv" aria-describedby="" value="@Model.borraridmv">

    

  
  <a asp-page="./Index" class="btn btn-info">Regresar</a>
  <button type="submit" class="btn btn-primary">Borrar</button>
</form>