@page
@using rinku.Pages.Empleados
@model BorrarModel

<h1>Seguro que quieres borrar </h1>

<form method="POST">

    <input type="hidden" name="borrarnum_empleados" class="form-control"
         id="borrarnum_empleados" aria-describedby="" value="@Model.borrarnum_empleados">

    

  
  <a asp-page="./Index" class="btn btn-info">Regresar</a>
  <button type="submit" class="btn btn-primary">Borrar</button>
</form>